@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

body {
	padding-top: 5em;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	margin: 0 auto;
	text-align: left;
	width: 40em;
	color: #404040;
	animation: fadeIn 1s;
}

h1 {
	text-align: center;
}

button {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 30px;
	border-color: #00C371;
	border-width: 4px;
	border-radius: 8px;
	color: #00C371;
	display: block;
	margin: auto;
	transition: 0.3s;
}

button:hover {
	background-color: #00C371;
	color: #ffffff;
}