@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

body {
	padding-top: 5em;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	margin: 0 auto;
	text-align: left;
	width: 40em;
	color: #404040;
	animation: fadeIn 1s;
}

h1 {
	text-align: center;
}